{
  "log": {
    "level": "warn"
  },
  "dns": {
    "servers": [
      {
        "tag": "remote",
        "type": "https",
        "server": "1.1.1.1",
        "detour": "tunnel"
      },
      {
        "tag": "fake",
        "type": "fakeip",
        "inet4_range": "198.18.0.0/15"
      }
    ],
    "rules": [
      {
        "query_type": [
          "A"
        ],
        "server": "fake"
      },
      {
        "query_type": [
          "AAAA"
        ],
        "action": "reject"
      }
    ],
    "final": "remote",
    "strategy": "ipv4_only",
    "independent_cache": true
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "address": [
        "172.19.0.1/30"
      ],
      "auto_route": true,
      "strict_route": true,
      "stack": "gvisor"
    }
  ],
  "outbounds": [
    {
      "type": "socks",
      "tag": "tunnel",
      "server": "127.0.0.1",
      "server_port": 8808,
      "version": "5"
    },
    {
      "type": "direct",
      "tag": "direct"
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "protocol": "dns",
        "action": "hijack-dns"
      },
      {
        "process_name": [
          "olcrtc",
          "sing-box"
        ],
        "outbound": "direct"
      },
      {
        "ip_is_private": true,
        "outbound": "direct"
      },
      {
        "port": [
          123
        ],
        "network": "udp",
        "outbound": "direct"
      },
      {
        "domain_suffix": [
          "captive.apple.com",
          "push.apple.com"
        ],
        "outbound": "direct"
      },
      {
        "network": "udp",
        "port": 443,
        "action": "reject"
      },
      {
        "ip_version": 6,
        "action": "reject"
      }
    ],
    "final": "tunnel",
    "auto_detect_interface": true,
    "default_domain_resolver": {
      "server": "remote"
    }
  }
}